<header class="header">
  <p class="header-title">
    <a href="https://github.com/FountainJS/generator-fountain-webapp" target="_blank">
      Fountain Generator
    </a>
  </p>
  <p class="header-date">
  
  <div class="btn-group">
    <button type="button" ng-click="$ctrl.changeLanguage('pt_BR')" class="btn btn-success">Português (BR)</button>
    <button type="button" ng-click="$ctrl.changeLanguage('en_US')" class="btn btn-primary">English (US)</button>
    <button type="button" ng-click="$ctrl.changeLanguage('es_ES')" class="btn btn-danger">Español (ES)</button>
  </div>
  
</p>
</header>
